@model ProductModel
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Product Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input asp-for="Price" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input asp-for="IsFeatured" type="checkbox" class="custom-control-input">
            <label asp-for="IsFeatured" class="custom-control-label">Make Featured</label>
        </div>
    </div>
    <div class="form-group">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="/@(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "img/no-image.png")" alt="@Model.Name photo" height="200">
        }

        <div class="custom-file">
            <input asp-for="ImageFile" class="custom-file-input">
            <label asp-for="ImageFile" class="custom-file-label"></label>
        </div>
    </div>

    <button class="btn btn-success">Save</button>
</form>