@page
@model RayanStore.Areas.Admin.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<div clas="card">
    <div class="card-head">
        <div class="card-tools">
            <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Products.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price.ToString("#.00")</td>
                            <td>
                                <img src="/@(!string.IsNullOrEmpty(product.ImageUrl) ? product.ImageUrl : "dist/img/no-image.png")" alt="@product.Name image" height="100">
                            </td>
                            <td>
                                <a asp-page="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary">Edit</a>
                                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No products found.</p>
        }
    </div>
</div>
