@model UserModel
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Roles"></label>
        <select asp-for="Roles" asp-items="Model.RoleSelectList" multiple class="form-control">
            
        </select>
    </div>
    @if (Model.Id == 0)
    {
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control">
        </div>
    }
    else
    {
        <div class="form-group">
            <label asp-for="Password"></label>
            <a href="#">Change Password</a>
        </div>
    }
    <button class="btn btn-success">Save</button>
</form>